{% extends 'base.html.twig' %}

{% block title %}{{ 'about'|trans }}{% endblock %}

{% block body %}
    <body class="bg-dark text-light">
        <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

        <h1>
            {{ 'about'|trans }} MonkeySound
    </h1>
        <br/>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet asperiores corporis cumque debitis distinctio
        enim fuga fugit illum incidunt, inventore omnis porro, quae quia, repellendus sequi sint sit veritatis?
    </div>
        <div>Accusantium assumenda consequuntur, doloribus esse et explicabo impedit, magnam molestias nobis nostrum
        quibusdam quo quos rem, tempora temporibus tenetur velit voluptate! Autem beatae eius esse eum officia
        praesentium sapiente sequi?
    </div>
        <div>Asperiores cumque dolorum eveniet ex, excepturi explicabo impedit, magni nam nihil quae sit soluta vel?
        Adipisci aspernatur consectetur culpa, debitis delectus deserunt eaque, impedit maiores neque omnis repudiandae
        ut, voluptatum!
    </div>
        <div>A ab accusantium aliquid amet consectetur dolor doloribus earum est eveniet harum impedit, incidunt minima
        mollitia natus numquam placeat praesentium quas, quisquam ratione rem repudiandae rerum sed suscipit voluptatem
        voluptatum.
    </div>
        <div>Ad, assumenda consequatur dolore doloribus id iusto laudantium nesciunt quam quisquam. Aperiam architecto
        cumque earum exercitationem, explicabo facere minus natus neque optio, porro quia quisquam saepe tenetur vero
        voluptas voluptate.
    </div>
        <div>Alias at dolores est excepturi fugiat incidunt laudantium temporibus. A aperiam, atque cumque explicabo fugit
        hic id ipsa ipsum iusto modi quam, quia rerum voluptatum! Dolor doloribus facere ipsa porro.
    </div>
        <div>Autem beatae consectetur deleniti distinctio dolor ducimus, harum illo itaque laudantium minima officia placeat
        quae quasi qui quisquam sequi voluptas! Adipisci asperiores consequatur, dolore dolores harum molestiae officia
        quas quidem.
    </div>
        <div>Autem cumque debitis dolores iusto magni optio tenetur. Amet animi eligendi quaerat quas quasi quo saepe.
        Aperiam at delectus distinctio illum magni, maxime molestiae nemo nisi quod sapiente sit tempora.
    </div>
    </body>
{% endblock %}
