{% extends 'base.html.twig' %}

{% block title %}{{ 'register'|trans }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">{{ 'register'|trans }}</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'password'|trans
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'agree_terms'|trans
        }) }}
    <br>
        <button class="btn btn-lg btn-primary" type="submit" class="btn">{{ 'register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
