<div class="card" style="background-color: gray;">
    <div class="card-body">
        <h3 class="card-title">{{ album.title }}</h3>
        <a href="{{ path('album', {'id': album.id}) }}" class="btn btn-primary">See the album</a>
    </div>
</div>