<div class="card" style="background-color: gray;">
    <div class="card-body">
        <h3 class="card-title">{{ artist.name }}</h3>
        <a href="{{ path('artist', {'id': artist.id}) }}" class="btn btn-primary">See the artist</a>
    </div>
</div>