<form method="post" action="{{ path('track_delete', {'id': track.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ track.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
