{% extends 'base.html.twig' %}

{% block title %}Edit Track{% endblock %}

{% block body %}
    <h1>Edit Track</h1>

    {{ include('Admin/track/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <br>
    <a class="btn-secondary" href="{{ path('track_index') }}">back to list</a>
    <br>
    <br>
    {{ include('Admin/track/_delete_form.html.twig') }}
{% endblock %}
