{% extends 'base.html.twig' %}

{% block title %}Track index{% endblock %}

{% block body %}
    <h1>Track index</h1>

    <table class="table table-light">
        <thead>
            <tr class="table-info">
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td class="table-light">{{ track.id }}</td>
                <td class="table-light">{{ track.title }}</td>
                <td class="table-light">{{ track.duration }}</td>
                <td class="table-light">{{ track.file }}</td>
                <td class="table-light">
                    <a class="btn btn-secondary" href="{{ path('track_show', {'id': track.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('track_edit', {'id': track.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation pagination">
        {{ knp_pagination_render(tracks) }}
    </div>

    <a class="btn btn-success" href="{{ path('track_new') }}">Create new</a>
{% endblock %}
