{% extends 'base.html.twig' %}

{% block title %}New Track{% endblock %}

{% block body %}
    <h1>Create new Track</h1>

    {{ include('Admin/track/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('track_index') }}">back to list</a>
{% endblock %}
