{% extends 'base.html.twig' %}

{% block title %}Track{% endblock %}

{% block body %}
    <h1>Track</h1>

    <table class="table table-light">
        <tbody>
            <tr class="table-light">
                <th>Id</th>
                <td>{{ track.id }}</td>
            </tr>
            <tr class="table-light">
                <th>Title</th>
                <td>{{ track.title }}</td>
            </tr>
            <tr class="table-light">
                <th>Duration</th>
                <td>{{ track.duration }}</td>
            </tr>
            <tr class="table-light">
                <th>File</th>
                <td>{{ track.file }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a class="btn-secondary" href="{{ path('track_index') }}">back to list</a>
    <br>
    <br>
    <a class="btn-primary" href="{{ path('track_edit', {'id': track.id}) }}">edit</a>
    <br>
    <br>
    {{ include('Admin/track/_delete_form.html.twig') }}
{% endblock %}
