{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <h1>Edit Type</h1>

    {{ include('Admin/type/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a class="btn btn-secondary" href="{{ path('type_index') }}">back to list</a>
    <br>
    <br>
    {{ include('Admin/type/_delete_form.html.twig') }}
{% endblock %}
