{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
    <h1>Type index</h1>

    <table class="table table-light">
        <thead>
            <tr class="table-info">
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td class="table-light">{{ type.id }}</td>
                <td class="table-light">{{ type.label }}</td>
                <td class="table-light">
                    <a href="{{ path('type_show', {'id': type.id}) }}" class="btn btn-secondary">show</a>
                    <a href="{{ path('type_edit', {'id': type.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
