{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <h1>Create new Type</h1>

    {{ include('Admin/type/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('type_index') }}">back to list</a>
{% endblock %}
