{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Type</h1>

    <table class="table table-light">
        <tbody>
            <tr class="table-info">
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr class="table-light">
                <th>Label</th>
                <td>{{ type.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_index') }}" class="btn btn-secondary">back to list</a>
    <br>
    <br>
    <a href="{{ path('type_edit', {'id': type.id}) }}" class="btn btn-primary">edit</a>
    <br>
    <br>
    {{ include('Admin/type/_delete_form.html.twig') }}
{% endblock %}
