{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}

    <h1>
        {{ artist.name }}
    </h1>

    <div>
        {% for type in artist.types %}
            <span class="badge bg-primary">{{ type.label }}</span>
            {% else %}
                <span class="badge bg-secondary">No type</span>
        {% endfor %}
    </div>

    {% if artist.description is not empty %}
        <p>{{ artist.description }}</p>
    {% endif %}

    <div style="display: flex; flex-direction: row; justify-content: center">
        <img src="{{ artist.photo }}" width="30%" />
    </div>

    <div class="row" style="display: flex; flex-direction: row; justify-content: center">
        <h3 class="text-decoration-underline">Albums</h3>
        <br>
        {% for album in albums %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card" style="background-color: gray">
                    <div class="card-body">
                        <h5>{{ album.title }}</h5>
                        <a class="btn btn-primary" href="{{ path('album', {'id': album.id}) }}">Info</a>

                    </div>
                </div>
            </div>
            <br>
            {% else %}
                <span class="badge bg-secondary" type="button">no album</span>
        {% endfor %}
    </div>

{% endblock %}
