{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <h1>
        {{ 'search_title'|trans }} {{ search }}
    </h1>

    {% if type is empty or type =='artist' %}
        <br>
        <h2>
            {{ 'search_result.artists.title'|trans ({'%count%': count_artist}) }}
        </h2>
        <br>
        {% for artist in artists %}
            {{ include('cards/artist.html.twig') }}
            <br>
            {% else %}
                No artist found...
        {% endfor %}

        {% if type is empty %}
            <div>
                <a href="{{ path('search', {'q': search, 'type':'artist' }) }}" class="btn btn-link">
                    See all artists for this search
                </a>
            </div>
        {% endif %}

        {% if type is not empty %}

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('search', {'q': search, 'type': type, 'page': page-1}) }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}

                    {% for p in 1 .. count_page %}
                        {% if p == page %}
                            <li class="page-item active"><a class="page-link" href="{{ path('search',{'q':search,'type':type,'page':p}) }}">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ path('search',{'q':search,'type':type,'page':p}) }}">{{ p }}</a></li>
                        {% endif %}                    {% endfor %}

                    {% if page < count_page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('search', {'q': search, 'type': type, 'page': page+1}) }}">
                                Next
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <br>

        {% endif %}

    {% endif %}

    {% if type is empty or type =='album' %}
        <br>
        <h2>
            {{ 'search_result.albums.title'|trans ({'%count%': count_album}) }}
        </h2>
        <br>
        {% for album in albums %}
            {{ include('cards/album.html.twig') }}
            <br>
            {% else %}
                No album found...
        {% endfor %}

        {% if type is empty %}
            <div>
                <a href="{{ path('search', {'q': search, 'type':'album' }) }}" class="btn btn-link">
                    See all albums for this search
                </a>
            </div>
            <br>
        {% endif %}

        {% if type is not empty %}

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    {% if page > 1 %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('search', {'q': search, 'type': type, 'page': page-1}) }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}

                    {% for p in 1 .. count_page %}
                        {% if p == page %}
                            <li class="page-item active"><a class="page-link" href="{{ path('search',{'q':search,'type':type,'page':p}) }}">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{ path('search',{'q':search,'type':type,'page':p}) }}">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page < count_page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('search', {'q': search, 'type': type, 'page': page+1}) }}">
                                Next
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <br>

        {% endif %}

    {% endif %}
{% endblock %}
