{% extends 'base.html.twig' %}

{% block title %}Hello AlbumController!{% endblock %}

{% block body %}

    <h1>
        {{ album.title }}
    </h1>

    <div>
        {% for type in album.types %}
            <span class="badge bg-primary">{{ type.label }}</span>
        {% else %}
            <span class="badge bg-secondary">No type</span>
        {% endfor %}
    </div>

    <br>
    <time datetime="{{ album.releasedAt | date }}" class="small text-secondary">
        {{ album.releasedAt | date }}
    </time>

    <br>
    <br>

    <div>
        <img src="{{ album.image }}" width="30%" />
    </div>

    <br>
    <br>

    <div class="row">
        <h3 class="text-decoration-underline">Artists</h3>
        <br>
        {% for artist in artists %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="card" style="background-color: gray">
                    <div class="card-body">
                        <h5>{{ artist.name }}</h5>
                        <a class="btn btn-primary" href="{{ path('artist', {'id': artist.id}) }}">Info</a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <br>
    <br>

<div class="row">
    <h3 class="text-decoration-underline">Tracks</h3>
    <div>
        <table class="table bg-light">
            <thead class="bg-dark text-light border-1 border-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tracks</th>
                <th scope="col">Duration</th>
                <th scope="col"></th>
            </tr>
            <tbody class="border-light">
            {% for track in album.tracks %}
                <tr>
                    <td>{{ loop.index}}</td>
                    <td>{{ track.title }}</td>
                    <td>{{ track.duration | duration }}</td>
                    <td>
                        <a type="button" data-play="/musics/{{ track.file }}" class="btn btn-sm btn-success">Play</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <br>
    <br>
{% endblock %}
