{% extends 'base.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block body %}
    <h1>Edit Album</h1>

    {{ include('Admin/album/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <br>
    <a class="btn btn-secondary" href="{{ path('album_index') }}">back to list</a>
    <br>
    <br>
    {{ include('Admin/album/_delete_form.html.twig') }}
{% endblock %}
