{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <h1>Album index</h1>

    <table class="table table-light">
        <thead>
            <tr class="table-info">
                <th>{{ knp_pagination_sortable(albums, 'Id', 'alb.id') }}</th>
                <th>{{ knp_pagination_sortable(albums, 'Title', 'alb.Title') }}</th>
                <th>{{ knp_pagination_sortable(albums, 'ReleasedAt', 'alb.ReleasedAt') }}</th>
                <th>{{ knp_pagination_sortable(albums, 'Image', 'alb.Image') }}</th>
                <th>{{ knp_pagination_sortable(albums, 'actions', 'alb.actions') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td class="table-light">{{ album.id }}</td>
                <td class="table-light">{{ album.title }}</td>
                <td class="table-light">{{ album.releasedAt ? album.releasedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="table-light">{{ album.image }}</td>
                <td class="table-light">
                    <a class="btn btn-secondary" href="{{ path('album_show', {'id': album.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation pagination">
        {{ knp_pagination_render(albums) }}
    </div>

    <a class="btn btn-success" href="{{ path('album_new') }}">Create new</a>
{% endblock %}
