{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    <h1>Create new Album</h1>

    {{ include('Admin/album/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('album_index') }}">back to list</a>
{% endblock %}
