{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1>Album</h1>

    <table class="table table-light">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ album.title }}</td>
            </tr>
            <tr>
                <th>ReleasedAt</th>
                <td>{{ album.releasedAt ? album.releasedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ album.image }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a class="btn btn-secondary" href="{{ path('album_index') }}">back to list</a>
    <br>
    <br>
    <a class="btn btn-primary" href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
    <br>
    <br>
    {{ include('Admin/album/_delete_form.html.twig') }}
{% endblock %}
