{% extends 'base.html.twig' %}

{% block title %}{{ 'legal'|trans }}{% endblock %}

{% block body %}
    <body class="bg-dark text-light">
        <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

        <h1>
            {{ 'legal'|trans }}
        </h1>
        <br/>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium atque aut consectetur cum debitis
            dolorem eveniet expedita facilis id incidunt mollitia numquam perspiciatis, provident rem, tempora
            voluptatem! Deleniti, rem. Adipisci alias consequuntur ipsam nemo ratione, sequi sunt? Autem dicta dolorem dolores officia quaerat
            temporibus? Aliquid aperiam asperiores aspernatur eligendi enim error obcaecati porro quaerat, quod
            reiciendis, tempora ut voluptas! Magnam, quis, sed. Aliquam assumenda consequuntur cum deserunt doloremque et eveniet ex, exercitationem,
            facilis fugit illo labore laboriosam, molestiae nihil nobis non obcaecati officia quod suscipit vel veniam
            vero voluptates. Animi dicta error ex expedita id, ipsum itaque laborum mollitia necessitatibus quaerat quibusdam quo quos
            voluptatem. Est in nisi obcaecati possimus recusandae! Aspernatur beatae incidunt maxime minima
            necessitatibus temporibus velit? A, accusantium commodi, consequatur cum cumque deleniti ducimus eum fuga fugit nemo quisquam rem. Amet
            cupiditate et fugit laborum natus necessitatibus nihil numquam obcaecati quasi recusandae, repellendus saepe
            totam vel. Accusamus consectetur corporis eligendi error maiores praesentium quasi sed soluta vitae voluptates. Alias,
            amet architecto atque consectetur consequuntur delectus dolorem facere facilis harum iusto laboriosam
            libero, molestias nemo tempore vitae. Animi cum debitis doloribus eaque fugit, iusto laudantium molestias nam nostrum possimus quam sapiente
            totam vero voluptas voluptatem! A corporis eveniet inventore laudantium magnam nemo quo saepe, sequi
            similique sit. Doloremque eaque earum exercitationem nobis non quam reprehenderit saepe soluta? Ad architecto consequatur
            dicta dignissimos modi neque, numquam odio sequi ut vel? Doloremque molestiae recusandae tenetur totam
            veritatis. Id, necessitatibus!
        </div>

    </body>
{% endblock %}
