<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app-styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-dark text-light pb-5">

    <nav class="navbar navbar-dark" style="background-color: #072F35" {#style="background-color: gray"#}>
        <div class="container-fluid">
            <div class="row justify-content-between w-100">
                <div class="col-3">
                    <a class="navbar-brand" href="{{ path('home') }}">
                        {{ 'title'|trans }}
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="30.000000pt" height="30.000000pt" viewBox="0 0 1000.000000 1000.000000" preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0.000000,1000.000000) scale(0.100000,-0.100000)" fill="#61dafb" stroke="none">
                                <path d="M4480 9859 c-91 -4 -190 -12 -220 -18 -30 -7 -86 -16 -125 -22 -71 -10 -129 -22 -285 -61 -99 -24 -341 -103 -381 -124 -15 -7 -35 -14 -43 -14 -9 0 -44 -17 -78 -38 -59 -36 -112 -58 -131 -53 -5 1 -6 -3 -2 -9 3 -5 1 -11 -4 -11 -21 -3 -26 -4 -38 -12 -7 -5 -13 -6 -13 -3 0 3 -9 -3 -20 -14 -12 -12 -25 -18 -30 -15 -6 4 -10 1 -10 -6 0 -7 -3 -9 -7 -6 -3 4 -18 -3 -32 -15 -21 -19 -23 -20 -11 -3 14 19 14 19 -6 3 -11 -10 -25 -18 -31 -18 -6 0 -18 -10 -27 -22 -9 -13 -14 -16 -10 -8 5 10 -1 8 -15 -5 -13 -11 -26 -20 -30 -20 -3 0 -5 -3 -3 -7 2 -8 -13 -11 -23 -5 -2 1 -11 -7 -20 -18 -9 -11 -13 -14 -10 -7 6 11 3 11 -13 1 -12 -7 -19 -16 -17 -19 2 -3 -6 -7 -17 -7 -11 -1 -34 -17 -51 -35 -16 -18 -26 -26 -22 -18 8 13 7 13 -11 0 -10 -8 -22 -19 -26 -25 -4 -5 -11 -10 -16 -10 -5 0 -30 -21 -56 -47 -26 -27 -55 -48 -64 -48 -20 -1 -62 -34 -62 -49 0 -6 -3 -10 -7 -10 -19 3 -33 -2 -33 -12 0 -5 5 -7 12 -3 7 4 8 3 4 -5 -4 -6 -12 -9 -17 -6 -5 4 -9 1 -9 -4 0 -6 -3 -10 -8 -9 -9 3 -62 -37 -62 -47 0 -3 6 -3 13 1 8 6 8 3 -1 -9 -8 -9 -17 -16 -20 -15 -19 2 -32 -3 -32 -13 0 -5 5 -7 12 -3 7 4 8 3 4 -5 -4 -6 -11 -9 -15 -6 -5 2 -17 -3 -27 -11 -10 -9 -13 -13 -6 -9 6 3 12 2 12 -4 0 -5 -10 -11 -21 -13 -12 -2 -28 -14 -36 -28 -14 -23 -14 -24 1 -6 9 11 16 15 16 9 0 -6 -6 -15 -12 -21 -13 -10 -19 -12 -38 -12 -5 0 -10 -5 -10 -11 0 -5 6 -7 13 -3 8 5 8 2 -2 -9 -15 -19 -26 -23 -16 -6 4 6 0 6 -12 -2 -18 -11 -14 -17 54 -81 40 -38 77 -67 82 -63 5 3 13 0 17 -6 4 -8 3 -9 -4 -5 -7 4 -12 2 -12 -3 0 -10 13 -15 32 -13 3 1 12 -6 20 -15 9 -12 9 -15 1 -9 -7 4 -13 2 -13 -3 0 -10 14 -15 33 -12 5 1 6 -3 3 -8 -9 -13 23 -43 37 -34 7 3 9 3 5 -2 -10 -10 11 -37 23 -29 5 3 9 0 9 -6 0 -6 4 -9 9 -5 5 3 13 0 17 -6 5 -8 3 -9 -6 -4 -8 5 -11 3 -8 -6 3 -8 11 -13 17 -11 6 1 11 -2 11 -7 0 -27 55 3 113 60 120 119 285 259 306 259 6 0 11 4 11 10 0 8 33 33 102 75 9 5 37 25 63 43 25 17 48 32 51 32 3 0 19 9 35 21 41 29 340 179 357 179 8 0 26 6 40 14 15 7 43 19 62 26 19 6 49 17 65 22 115 41 131 46 253 78 306 81 723 111 1017 75 77 -10 158 -20 180 -22 22 -2 47 -7 55 -10 25 -10 69 -19 135 -29 22 -3 67 -14 100 -24 33 -10 75 -22 93 -25 17 -4 32 -11 32 -16 0 -5 3 -8 8 -8 4 1 26 -2 49 -6 27 -5 40 -12 36 -19 -3 -6 -3 -8 2 -4 4 4 24 0 44 -8 20 -9 43 -17 51 -19 38 -9 86 -31 98 -45 12 -13 13 -13 7 0 -4 8 1 6 9 -4 9 -11 16 -16 16 -12 0 5 6 3 13 -3 8 -6 17 -8 20 -4 4 3 7 1 7 -5 0 -7 3 -11 8 -11 21 4 32 -2 26 -13 -4 -7 -4 -10 1 -6 4 4 14 3 22 -3 7 -6 13 -8 13 -3 0 4 7 -1 16 -12 8 -10 13 -12 9 -4 -4 8 1 6 10 -5 9 -11 18 -19 20 -17 12 6 36 1 31 -6 -2 -4 4 -14 16 -21 11 -7 17 -8 14 -2 -4 5 7 3 24 -5 16 -9 30 -18 30 -20 0 -3 -6 -2 -12 1 -7 4 -4 0 6 -9 10 -8 22 -13 26 -11 5 3 11 -2 14 -11 3 -8 10 -13 15 -10 5 3 11 -1 15 -9 3 -8 16 -15 30 -15 14 0 28 -5 32 -12 4 -7 3 -8 -4 -4 -7 4 -12 2 -12 -3 0 -10 7 -12 26 -10 3 0 12 -8 20 -18 7 -10 14 -14 14 -9 0 6 7 1 16 -10 8 -10 12 -12 8 -4 -3 8 6 1 22 -16 16 -16 22 -21 14 -10 -8 12 11 -5 43 -36 32 -32 62 -59 67 -59 6 -1 14 -2 19 -3 5 0 13 -5 18 -10 5 -6 2 -6 -7 -1 -8 4 -6 -1 5 -12 13 -14 22 -16 27 -9 5 7 8 4 8 -7 0 -11 4 -15 12 -11 6 4 8 3 5 -2 -9 -15 6 -33 31 -37 12 -2 25 -7 29 -12 5 -4 2 -5 -6 0 -9 5 -12 3 -9 -6 3 -8 11 -13 17 -11 6 1 11 -3 11 -9 0 -5 4 -8 9 -4 5 3 13 0 17 -6 5 -8 3 -9 -6 -4 -8 5 -11 3 -8 -6 3 -8 11 -13 17 -11 6 1 11 -3 11 -9 0 -5 4 -8 9 -5 5 3 8 -2 7 -12 0 -9 5 -16 12 -14 6 1 12 -3 12 -9 0 -5 4 -8 9 -4 5 3 13 0 17 -6 5 -8 3 -9 -6 -4 -8 5 -11 3 -8 -6 3 -8 11 -13 17 -11 6 1 11 -2 11 -7 0 -25 53 2 106 52 32 31 109 104 169 161 l110 105 -105 103 c-58 57 -125 119 -149 138 -23 19 -49 41 -56 48 -32 29 -187 142 -195 142 -6 0 -10 4 -10 9 0 6 -18 20 -40 32 -22 13 -40 26 -40 31 0 4 -4 8 -9 8 -5 0 -36 17 -68 38 -32 21 -65 41 -73 45 -8 4 -33 18 -55 31 -70 43 -321 166 -340 166 -9 0 -34 8 -54 19 -20 10 -52 24 -71 31 -182 65 -302 104 -390 125 -58 14 -118 30 -135 35 -16 5 -61 14 -100 20 -38 6 -108 18 -155 26 -74 13 -422 35 -505 32 -16 -1 -104 -5 -195 -9z m-2210 -1114 c19 -19 32 -35 29 -35 -3 0 -20 16 -39 35 -19 19 -32 35 -29 35 3 0 20 -16 39 -35z m61 -62 c13 -16 12 -17 -3 -4 -10 7 -18 15 -18 17 0 8 8 3 21 -13z"/>
                                <path d="M4445 8875 c-66 -7 -131 -16 -145 -19 -14 -3 -37 -8 -52 -11 -69 -13 -86 -17 -129 -31 -25 -8 -57 -17 -70 -19 -13 -3 -36 -7 -51 -11 -15 -3 -31 -5 -34 -4 -4 1 -10 -3 -14 -9 -3 -6 -15 -13 -26 -15 -10 -2 -31 -9 -45 -14 -15 -6 -30 -8 -35 -4 -4 4 -4 1 0 -5 4 -8 2 -13 -6 -14 -7 0 -22 -3 -33 -5 -11 -3 -25 -6 -32 -6 -7 -1 -10 -4 -8 -7 2 -4 -8 -11 -21 -18 -18 -8 -22 -8 -18 0 5 8 2 7 -7 0 -7 -7 -20 -13 -29 -13 -8 0 -21 -9 -28 -20 -7 -12 -23 -20 -40 -20 -16 0 -32 -8 -40 -20 -8 -13 -23 -20 -42 -20 -16 0 -33 -7 -38 -16 -5 -9 -11 -16 -13 -15 -17 2 -49 -14 -49 -25 0 -8 -3 -13 -7 -13 -20 3 -34 -2 -28 -11 3 -5 1 -11 -4 -11 -6 -1 -17 -2 -23 -3 -7 -1 -12 -7 -11 -14 2 -7 0 -11 -5 -11 -24 4 -42 -3 -42 -17 0 -8 -4 -13 -9 -10 -8 6 -59 -28 -73 -49 -4 -5 -12 -11 -18 -11 -23 -3 -24 -5 -10 -14 10 -7 11 -10 3 -11 -7 -1 -17 -3 -23 -4 -5 -1 -16 -3 -22 -4 -9 -1 -10 -4 -2 -9 6 -4 -3 -18 -25 -37 l-36 -29 25 29 25 30 -35 -30 c-80 -68 -119 -109 -113 -119 3 -6 3 -8 -2 -4 -12 11 -47 -12 -41 -27 2 -7 -3 -19 -12 -27 -16 -12 -16 -11 -2 7 8 11 0 7 -18 -9 -18 -17 -32 -33 -32 -36 0 -13 161 -150 170 -145 4 3 14 -3 21 -12 10 -12 10 -14 2 -9 -7 4 -13 4 -12 -1 0 -11 56 -54 74 -57 8 -1 18 -6 22 -11 4 -4 2 -5 -4 -1 -7 4 -13 2 -13 -3 0 -6 5 -12 10 -12 6 -1 16 -2 23 -3 6 -1 11 -8 9 -15 -3 -13 44 -56 63 -56 5 -1 43 31 84 70 110 105 121 115 131 115 6 0 10 4 10 9 0 10 136 111 150 111 6 0 10 4 10 8 0 5 15 16 33 26 17 9 55 30 82 46 44 25 81 44 190 95 28 13 58 25 140 53 57 20 170 51 270 73 90 21 125 23 365 23 237 -1 274 -3 350 -22 47 -12 96 -24 110 -26 14 -3 25 -5 25 -6 0 -1 11 -4 25 -6 13 -2 27 -8 30 -12 3 -4 21 -9 40 -11 19 -2 38 -7 41 -13 3 -5 9 -9 13 -9 22 3 36 0 32 -7 -3 -5 0 -9 7 -10 28 -2 46 -9 63 -22 16 -13 17 -13 10 0 -7 13 -6 13 6 0 13 -15 31 -22 55 -23 7 0 10 -4 7 -9 -5 -7 10 -12 29 -9 4 0 7 -4 7 -10 0 -5 4 -8 9 -4 5 3 12 1 16 -5 4 -6 11 -7 17 -4 6 4 8 3 5 -2 -3 -6 3 -16 15 -23 16 -10 19 -10 12 1 -4 7 2 4 14 -6 12 -11 22 -16 22 -11 0 4 8 -1 18 -12 9 -10 13 -12 7 -3 -5 8 6 2 24 -15 19 -16 30 -24 26 -16 -5 9 -4 12 3 7 7 -4 12 -14 12 -22 0 -8 5 -14 12 -14 6 0 21 -8 32 -17 16 -14 18 -14 11 -3 -6 9 -1 6 10 -7 12 -13 28 -23 37 -23 9 0 26 -12 38 -27 12 -16 18 -22 14 -14 -4 9 -3 12 4 7 6 -4 9 -13 5 -21 -3 -8 0 -15 7 -15 6 0 21 -10 32 -22 11 -13 17 -16 13 -8 -4 8 1 6 9 -4 9 -11 16 -23 16 -28 0 -4 6 -8 13 -8 7 0 18 -9 25 -20 7 -12 17 -18 22 -15 6 3 10 0 10 -7 0 -7 17 -29 37 -48 20 -19 33 -28 28 -20 -7 12 -6 13 6 3 12 -10 18 -9 30 5 9 9 38 37 65 61 27 23 85 76 129 116 44 40 95 85 113 100 17 15 32 30 32 34 0 11 -130 141 -195 196 -33 28 -73 62 -90 77 -16 16 -36 28 -42 28 -7 0 -13 4 -13 10 0 5 -19 22 -42 37 -24 15 -50 32 -59 38 -8 5 -31 20 -50 32 -19 12 -39 25 -45 30 -11 9 -34 22 -74 43 -14 7 -32 17 -40 21 -28 16 -145 72 -185 90 -22 9 -61 27 -86 38 -25 12 -54 21 -63 21 -9 0 -30 6 -45 14 -29 16 -90 32 -261 72 -220 50 -539 66 -795 39z m-1355 -609 c0 -2 -8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z m-40 -40 c0 -2 -8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z m-124 -136 c0 -12 -4 -16 -9 -11 -5 5 -6 14 -3 20 10 15 12 14 12 -9z m94 -95 c19 -19 32 -35 29 -35 -3 0 -20 16 -39 35 -19 19 -32 35 -29 35 3 0 20 -16 39 -35z m111 -102 c13 -16 12 -17 -3 -4 -10 7 -18 15 -18 17 0 8 8 3 21 -13z"/>
                                <path d="M4520 7899 c-19 -4 -59 -11 -89 -15 -75 -9 -75 -9 -88 -17 -7 -5 -13 -5 -13 0 0 4 -4 3 -8 -4 -4 -7 -23 -15 -42 -18 -19 -4 -42 -8 -50 -10 -8 -2 -21 -4 -28 -4 -7 -1 -10 -5 -7 -11 3 -5 3 -10 -2 -11 -4 0 -17 -3 -28 -5 -11 -3 -26 -6 -32 -6 -7 -1 -13 -6 -13 -11 0 -6 -3 -7 -7 -4 -3 4 -11 0 -17 -9 -6 -8 -21 -16 -34 -17 -12 0 -22 -6 -22 -11 0 -5 -3 -6 -7 -3 -3 4 -12 -1 -20 -11 -9 -10 -12 -11 -7 -2 4 8 -5 4 -21 -10 -16 -14 -24 -18 -20 -10 8 13 7 13 -11 0 -10 -8 -27 -23 -37 -35 -10 -11 -15 -13 -11 -5 7 13 6 13 -12 0 -10 -8 -23 -21 -27 -28 -5 -7 -12 -10 -17 -7 -5 3 -17 -6 -28 -20 -11 -13 -22 -22 -24 -19 -3 2 -11 -3 -19 -13 -12 -14 -12 -16 0 -8 10 5 12 4 7 -4 -4 -6 -12 -9 -17 -5 -14 8 -179 -156 -179 -178 0 -10 8 -22 17 -25 9 -4 25 -15 35 -25 10 -10 24 -16 30 -12 6 4 8 3 4 -4 -7 -12 42 -54 54 -47 5 3 12 0 16 -6 5 -8 2 -10 -7 -5 -8 4 -3 -2 10 -13 12 -12 27 -19 31 -16 4 3 14 -3 21 -12 10 -12 10 -14 2 -9 -7 4 -13 2 -13 -3 0 -6 7 -12 15 -12 29 -3 33 -4 42 -13 5 -5 3 -6 -4 -2 -7 4 -13 2 -13 -4 0 -6 8 -14 18 -17 9 -4 25 -16 35 -28 10 -11 15 -13 12 -5 -4 8 4 2 17 -14 39 -46 57 -42 131 27 78 72 80 74 132 108 186 119 422 173 650 150 90 -9 135 -16 143 -21 4 -4 15 -7 59 -15 24 -4 40 -11 37 -16 -3 -5 7 -9 22 -9 15 0 35 -6 43 -14 9 -8 23 -16 31 -18 8 -2 21 -10 28 -18 12 -13 13 -13 6 0 -4 8 5 4 19 -9 15 -14 27 -21 27 -18 0 4 9 -2 20 -13 12 -12 25 -18 30 -15 6 4 10 -1 10 -9 0 -14 6 -18 27 -15 4 0 11 -9 15 -21 4 -12 12 -18 18 -15 5 3 10 1 10 -5 0 -6 5 -8 12 -4 6 4 8 3 5 -3 -8 -12 57 -76 81 -79 10 -2 37 15 61 36 24 22 46 40 50 40 4 0 14 8 23 18 29 29 49 47 143 122 50 39 93 77 97 84 11 20 -238 256 -270 256 -6 0 -12 4 -14 8 -11 28 -327 192 -369 192 -8 0 -41 9 -74 20 -109 35 -231 50 -400 49 -88 -1 -176 -5 -195 -10z m-800 -383 c0 -2 -8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z m-40 -40 c0 -2 -8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z m-40 -40 c0 -2 -8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z m1781 -303 c13 -16 12 -17 -3 -4 -10 7 -18 15 -18 17 0 8 8 3 21 -13z"/>
                                <path d="M4870 7121 c8 -6 18 -7 22 -5 4 3 8 -1 8 -8 0 -7 49 -48 109 -91 60 -43 115 -85 122 -94 12 -14 10 -15 -21 -9 -19 4 -78 22 -130 39 -87 28 -108 31 -262 35 -232 5 -355 -9 -460 -52 -89 -37 -249 -90 -308 -101 -63 -13 -274 -86 -315 -110 -22 -13 -81 -41 -132 -62 -177 -77 -263 -137 -326 -227 -10 -14 -24 -26 -32 -26 -8 0 -51 37 -97 83 -65 65 -101 91 -168 124 -142 69 -184 78 -360 78 -137 0 -163 -3 -224 -24 -96 -33 -178 -93 -269 -196 -92 -104 -114 -144 -155 -285 -49 -171 -55 -209 -55 -340 0 -184 36 -363 99 -490 26 -52 57 -107 68 -121 12 -14 30 -38 41 -54 51 -74 167 -169 252 -207 26 -12 79 -24 118 -27 l70 -6 6 -105 c3 -58 13 -134 21 -170 9 -36 22 -92 29 -125 18 -84 90 -263 139 -346 137 -230 349 -465 533 -590 51 -34 115 -79 142 -99 28 -21 87 -57 133 -81 45 -23 82 -49 82 -57 0 -8 -17 -35 -38 -61 -21 -25 -69 -91 -106 -146 -123 -180 -148 -204 -176 -170 -7 8 -19 15 -27 15 -8 0 -29 6 -46 14 -181 83 -347 85 -539 7 -108 -44 -164 -79 -225 -143 -51 -53 -123 -156 -123 -176 0 -8 -14 -71 -30 -140 -29 -118 -30 -131 -21 -216 31 -276 67 -383 183 -543 37 -51 63 -95 58 -98 -5 -3 -35 -10 -67 -16 -82 -15 -230 -77 -258 -108 -111 -122 -133 -150 -139 -185 -16 -85 35 -144 133 -155 43 -5 55 -10 52 -21 -3 -8 -5 -25 -5 -37 l-1 -23 -575 -1 c-316 -1 -603 0 -637 1 l-63 2 0 -381 0 -381 3860 0 3860 0 0 380 0 380 -116 0 c-65 0 -124 -5 -136 -11 -15 -8 -19 -8 -14 0 9 14 0 14 -25 1 -14 -8 -19 -7 -19 1 0 8 -4 8 -15 -1 -12 -10 -15 -10 -15 1 0 11 -2 11 -10 -1 -6 -9 -10 -10 -10 -3 0 14 -42 13 -52 -2 -5 -6 -8 -6 -8 0 0 9 -242 14 -260 6 -16 -8 -40 -8 -40 -1 0 10 -66 8 -76 -3 -4 -4 -12 -7 -18 -7 -6 0 -5 4 3 9 9 6 -15 9 -67 8 -45 -1 -82 -5 -82 -8 0 -3 -7 -6 -15 -6 -8 0 -15 4 -15 9 0 10 -102 4 -139 -7 -17 -6 -22 -5 -17 3 5 9 -25 12 -113 12 -90 0 -121 -3 -121 -12 0 -9 -3 -9 -9 1 -8 13 -12 13 -27 0 -13 -11 -18 -11 -21 -1 -6 16 -33 16 -33 0 0 -9 -3 -9 -9 1 -8 12 -14 13 -36 3 -32 -15 -48 -15 -40 -2 4 6 -13 10 -44 10 -28 0 -51 -4 -51 -10 0 -5 -7 -10 -16 -10 -8 0 -12 5 -9 10 4 6 -7 10 -25 10 -17 0 -29 -4 -26 -8 3 -5 -1 -9 -9 -9 -8 0 -12 4 -9 9 6 10 -47 7 -61 -3 -14 -10 -39 10 -59 48 l-16 33 43 -6 c45 -6 109 17 136 50 22 26 31 88 19 133 -20 80 -149 179 -303 233 -184 65 -176 61 -170 81 4 10 24 45 46 78 21 32 39 66 39 75 0 9 6 29 14 45 8 15 22 65 31 110 24 116 12 206 -44 331 -79 178 -172 274 -389 402 -97 58 -234 88 -395 88 -123 0 -128 1 -137 23 -5 12 -27 72 -49 134 -22 61 -49 130 -61 152 l-20 40 22 21 c12 11 32 20 44 20 42 0 161 58 292 144 114 74 154 107 277 234 79 81 158 166 175 190 33 46 30 47 99 -6 25 -18 80 -51 123 -73 98 -49 283 -83 420 -77 77 4 96 9 170 45 87 43 198 134 223 183 8 16 20 34 27 42 28 28 90 131 128 210 48 101 60 172 61 385 1 167 -7 207 -60 311 -12 23 -27 68 -35 100 -19 81 -35 113 -121 226 -61 81 -94 114 -187 184 -62 47 -131 93 -153 103 -56 26 -216 26 -312 0 -74 -19 -93 -15 -93 19 0 27 -42 153 -60 180 -18 28 -70 143 -70 156 0 9 -72 160 -96 204 -8 14 -34 60 -57 103 -23 43 -52 97 -65 120 -12 23 -37 65 -55 92 -18 28 -37 57 -42 66 -51 83 -153 218 -235 309 -32 36 -80 90 -106 120 -64 75 -156 154 -202 173 -20 9 -108 39 -194 66 -138 44 -174 52 -290 61 -168 13 -278 13 -258 1z m-928 -1232 c59 -11 122 -27 140 -36 39 -19 107 -49 128 -57 111 -44 331 -249 401 -372 40 -72 79 -151 79 -163 0 -6 16 -45 35 -86 30 -65 37 -75 52 -66 10 5 83 77 163 160 79 83 149 151 156 151 6 0 30 14 53 30 53 39 203 89 301 100 90 10 211 -3 290 -31 30 -11 66 -23 80 -27 42 -12 157 -80 205 -122 52 -44 123 -124 168 -185 45 -62 127 -231 127 -261 0 -9 7 -53 16 -96 12 -58 15 -112 11 -201 -6 -160 -21 -241 -67 -362 -21 -55 -41 -110 -45 -123 -4 -13 -22 -50 -41 -83 -19 -34 -34 -65 -34 -69 0 -4 -15 -26 -32 -49 -18 -22 -60 -74 -92 -116 -51 -66 -191 -195 -212 -195 -4 0 -21 -11 -38 -24 -28 -21 -56 -37 -186 -106 -67 -36 -219 -100 -235 -100 -9 0 -31 -6 -48 -14 -62 -28 -203 -65 -322 -82 -142 -22 -401 -24 -515 -5 -41 6 -108 16 -149 21 -41 6 -121 26 -178 45 -57 19 -110 35 -117 35 -17 0 -215 82 -276 114 -52 28 -150 81 -197 106 -17 9 -54 34 -82 54 -28 20 -54 36 -59 36 -4 0 -25 16 -47 35 -22 19 -43 35 -46 35 -3 0 -17 9 -30 21 -144 123 -198 173 -243 224 -80 91 -146 174 -146 184 0 4 -9 19 -19 33 -31 39 -120 218 -135 273 -8 28 -21 75 -30 105 -50 171 -20 398 78 585 20 38 36 73 36 78 0 4 16 31 35 60 19 28 35 56 35 60 0 5 18 31 40 57 22 26 40 52 40 57 0 13 200 213 212 213 5 0 18 8 28 18 23 21 171 103 215 119 88 31 241 52 335 45 30 -2 103 -12 162 -23z m-1236 -4283 c32 -13 97 -42 144 -64 103 -49 309 -94 340 -74 13 8 21 8 26 1 8 -13 -62 -87 -90 -95 -12 -3 -49 -19 -83 -35 -53 -25 -66 -37 -92 -84 -17 -30 -35 -55 -40 -55 -5 0 -45 -36 -90 -79 -81 -81 -106 -96 -134 -86 -35 14 -29 53 23 147 28 51 49 99 48 107 -5 25 -36 24 -67 -1 -16 -14 -42 -30 -59 -37 -16 -7 -32 -21 -35 -30 -3 -13 -18 -20 -48 -25 -25 -4 -58 -15 -74 -26 -17 -11 -41 -20 -55 -20 -14 0 -36 -7 -48 -16 -27 -18 -83 -12 -102 11 -26 31 65 138 136 159 12 4 42 21 68 40 l47 33 -70 6 c-38 3 -98 1 -133 -5 -151 -26 -210 -8 -158 47 26 28 194 125 216 125 8 0 40 14 72 31 52 27 117 44 178 48 11 0 47 -10 80 -23z m3794 -33 c47 -14 127 -45 177 -69 76 -36 100 -54 133 -95 23 -29 39 -57 37 -63 -10 -31 -259 16 -367 70 -25 12 -72 27 -104 33 -75 14 -76 14 -46 -2 155 -82 190 -105 238 -156 64 -67 102 -123 102 -151 0 -26 -31 -27 -54 -1 -9 10 -36 27 -59 37 -23 10 -58 30 -77 44 -54 41 -243 131 -253 121 -5 -5 0 -15 13 -24 12 -8 23 -26 24 -38 2 -13 16 -38 33 -56 17 -18 42 -65 57 -107 47 -135 30 -155 -53 -64 -33 35 -80 77 -106 93 -26 17 -55 46 -65 65 -10 19 -32 50 -49 68 -17 18 -31 38 -31 43 0 5 -20 31 -45 58 -42 45 -44 49 -27 63 24 22 84 51 182 88 47 18 101 44 120 57 42 28 88 25 220 -14z m-857 -129 c3 -3 41 -18 84 -33 43 -14 108 -43 144 -63 61 -34 67 -41 78 -82 6 -25 11 -47 11 -50 0 -18 -98 -2 -167 25 -157 64 -297 87 -310 53 -7 -18 5 -29 98 -93 88 -62 129 -139 108 -201 -11 -30 -14 -32 -50 -27 -59 8 -142 51 -190 98 -46 46 -144 115 -191 136 -16 7 -28 17 -28 23 0 18 -38 11 -45 -9 -3 -11 1 -41 8 -68 48 -162 52 -189 33 -218 -19 -28 -47 -32 -66 -10 -7 8 -18 15 -24 15 -21 0 -93 84 -110 130 -24 62 -70 142 -100 175 -15 16 -26 32 -26 36 0 17 -51 9 -81 -13 -45 -33 -164 -31 -257 5 -37 14 -75 28 -84 31 -25 7 -23 51 3 77 50 50 127 62 221 34 26 -8 50 -10 53 -6 7 12 84 4 194 -20 54 -12 106 -18 125 -15 17 4 128 12 246 19 183 11 221 16 255 33 44 23 59 27 68 18z m-2095 -78 c40 -14 117 -30 172 -36 134 -16 415 -7 495 16 83 23 99 23 103 -1 2 -11 15 -44 29 -74 35 -77 30 -86 -43 -85 -46 1 -81 9 -146 38 l-86 36 -39 -22 c-21 -12 -63 -46 -92 -75 -30 -30 -82 -67 -115 -84 -34 -16 -77 -42 -96 -58 -42 -34 -73 -45 -100 -36 -39 12 -24 51 49 125 91 91 110 142 40 103 -187 -103 -411 -203 -456 -203 -25 0 -43 19 -43 46 0 37 63 86 172 134 57 25 102 50 101 55 -1 6 -22 14 -47 19 -39 8 -56 5 -130 -23 -107 -40 -148 -48 -164 -29 -16 20 5 47 74 93 73 49 159 83 210 84 22 1 73 -10 112 -23z m-2371 -212 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m1931 -74 c-15 -23 -38 -27 -38 -6 0 8 10 17 23 19 12 2 23 5 25 6 1 0 -3 -8 -10 -19z m962 0 c0 -11 -7 -20 -15 -20 -13 0 -14 4 -5 20 6 11 13 20 15 20 3 0 5 -9 5 -20z m-3050 -10 c0 -14 -7 -20 -21 -20 -11 0 -17 5 -14 10 4 6 11 8 16 5 5 -4 9 1 9 9 0 9 2 16 5 16 3 0 5 -9 5 -20z m400 0 c0 -11 -7 -20 -15 -20 -18 0 -19 6 -2 25 16 19 17 18 17 -5z m134 5 c-4 -8 -8 -15 -10 -15 -2 0 -4 7 -4 15 0 8 4 15 10 15 5 0 7 -7 4 -15z m264 3 c-7 -19 -38 -22 -38 -4 0 10 9 16 21 16 12 0 19 -5 17 -12z m242 -3 c0 -8 -7 -15 -15 -15 -8 0 -15 7 -15 15 0 8 7 15 15 15 8 0 15 -7 15 -15z m87 -17 c-3 -7 -5 -2 -5 12 0 14 2 19 5 13 2 -7 2 -19 0 -25z m880 0 c-3 -7 -5 -2 -5 12 0 14 2 19 5 13 2 -7 2 -19 0 -25z m1513 12 c0 -21 -24 -28 -35 -10 -8 14 3 30 21 30 8 0 14 -9 14 -20z m87 5 c0 -8 -9 -15 -19 -15 -16 0 -17 2 -6 15 17 19 25 19 25 0z m40 -7 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m123 2 c0 -13 -7 -20 -18 -20 -24 0 -32 8 -25 26 8 22 43 17 43 -6z m84 -11 c-8 -13 -24 -1 -24 18 0 13 3 13 15 3 8 -7 12 -16 9 -21z m1012 21 c37 0 20 -17 -21 -22 -29 -3 -35 -1 -35 15 0 13 5 17 16 13 9 -3 27 -6 40 -6z m184 -11 c0 -15 -5 -20 -22 -17 -31 4 -33 38 -2 38 18 0 24 -5 24 -21z m750 1 c0 -21 -12 -24 -45 -10 -17 7 -17 9 -2 9 9 1 17 6 17 11 0 6 7 10 15 10 8 0 15 -9 15 -20z m130 5 c0 -9 -9 -15 -25 -15 -16 0 -25 6 -25 15 0 9 9 15 25 15 16 0 25 -6 25 -15z m118 -2 c-3 -14 -12 -17 -38 -15 -19 1 -36 5 -39 8 -9 9 23 24 52 24 22 0 28 -4 25 -17z m78 -10 c-10 -10 -19 5 -10 18 6 11 8 11 12 0 2 -7 1 -15 -2 -18z m41 5 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m119 11 c11 -18 -11 -30 -44 -23 -44 9 -42 34 2 34 19 0 38 -5 42 -11z m98 -1 c5 -10 7 -10 12 0 3 6 12 12 21 12 28 0 6 -25 -25 -28 -24 -2 -32 1 -32 12 0 19 16 21 24 4z m176 -3 c0 -8 -7 -15 -15 -15 -8 0 -15 7 -15 15 0 8 7 15 15 15 8 0 15 -7 15 -15z m210 0 c0 -8 -4 -15 -8 -15 -5 0 -9 7 -9 15 0 8 4 15 9 15 4 0 8 -7 8 -15z m70 0 c0 -8 -9 -15 -20 -15 -13 0 -18 5 -14 15 4 8 12 15 20 15 8 0 14 -7 14 -15z m-5950 -10 c0 -8 -4 -15 -10 -15 -5 0 -7 7 -4 15 4 8 8 15 10 15 2 0 4 -7 4 -15z m-400 -5 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10 11 10 2 0 4 -4 4 -10z m240 0 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10 -4 10 -10z m2280 0 c0 -5 -5 -10 -11 -10 -5 0 -7 5 -4 10 3 6 8 10 11 10 2 0 4 -4 4 -10z m145 0 l20 -9 -20 0 c-11 0 -27 4 -35 9 -13 9 -13 10 0 9 8 0 24 -4 35 -9z m115 6 c0 -2 -7 -6 -15 -10 -8 -3 -15 -1 -15 4 0 6 7 10 15 10 8 0 15 -2 15 -4z m37 -2 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m-3270 -10 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m-67 -64 c0 -11 -4 -20 -9 -20 -5 0 -7 9 -4 20 3 11 7 20 9 20 2 0 4 -9 4 -20z m101 -10 c10 0 19 7 19 15 0 19 16 20 23 1 8 -20 -2 -26 -40 -26 -28 0 -33 3 -32 23 1 16 2 18 6 5 2 -10 13 -18 24 -18z m99 15 c0 -8 8 -15 18 -16 13 0 14 -2 2 -6 -8 -3 -18 -11 -22 -17 -5 -8 -8 -7 -8 2 0 6 -7 12 -15 12 -8 0 -15 5 -15 11 0 5 5 7 10 4 6 -3 10 1 10 9 0 9 5 16 10 16 6 0 10 -7 10 -15z m2244 -11 c-7 -3 -10 -14 -7 -24 4 -16 0 -20 -21 -20 -26 0 -26 0 -26 -80 l0 -80 105 0 105 0 0 50 c0 38 4 50 15 50 11 0 15 -12 15 -50 l0 -50 105 0 105 0 0 74 0 74 36 21 c40 24 58 27 52 9 -3 -7 -14 -14 -26 -16 -20 -3 -22 -9 -22 -83 l0 -80 113 3 112 3 -2 69 c-2 70 -10 86 -45 86 -10 0 -18 7 -18 15 0 12 15 15 75 15 78 0 100 -14 40 -26 l-35 -6 0 -79 0 -79 115 0 115 0 0 79 c0 75 -1 80 -22 83 -21 3 -34 28 -15 28 4 0 23 0 42 0 l35 0 -2 -217 -3 -218 -55 -2 c-30 -1 -47 1 -37 4 9 2 17 11 17 19 0 8 9 14 20 14 18 0 20 7 20 80 l0 80 -115 0 -115 0 0 -92 c0 -64 3 -88 10 -78 6 9 10 10 10 3 0 -6 12 -16 28 -21 22 -9 14 -11 -50 -11 -46 -1 -78 3 -78 9 0 6 7 10 16 10 8 0 13 4 9 9 -3 5 5 11 17 13 21 3 23 8 23 67 0 41 -4 65 -12 68 -7 3 -10 9 -7 14 3 5 -41 9 -100 9 -78 0 -106 -3 -106 -12 -2 -26 -2 -134 -1 -150 1 -10 6 -18 12 -18 5 0 7 6 3 13 -4 6 1 5 12 -4 10 -9 26 -19 34 -22 8 -3 -22 -6 -68 -6 -80 -1 -82 0 -72 19 6 11 17 20 25 20 8 0 15 9 15 20 0 11 6 20 13 21 10 0 10 2 0 6 -7 2 -13 20 -13 39 0 20 5 34 13 35 10 0 10 2 0 6 -7 2 -13 11 -13 19 0 11 -20 14 -99 14 -114 0 -111 2 -111 -93 0 -65 10 -94 29 -83 6 4 11 3 11 -3 0 -5 8 -12 18 -14 9 -3 -17 -5 -60 -6 -71 -1 -76 0 -71 19 3 11 14 20 24 20 17 0 19 8 19 80 l0 80 -105 0 -105 0 0 -74 c0 -87 5 -106 31 -106 10 0 19 -4 19 -10 0 -6 -28 -10 -64 -10 -59 0 -64 2 -59 20 3 11 14 20 24 20 17 0 19 8 19 80 l0 80 -104 0 c-75 0 -105 -4 -109 -13 -2 -7 -3 -41 -1 -75 2 -38 0 -62 -7 -62 -5 0 -4 -6 3 -14 7 -8 15 -10 18 -6 3 4 14 -1 24 -11 19 -19 18 -19 -65 -18 -60 0 -78 3 -61 9 12 5 22 13 22 19 0 5 10 11 21 14 20 5 21 11 16 56 -3 28 -2 53 3 56 6 4 5 14 -3 25 -10 18 -23 20 -114 20 -87 0 -103 -2 -103 -16 0 -8 -4 -13 -9 -10 -16 10 -12 -112 4 -127 8 -8 11 -17 8 -21 -4 -3 5 -6 20 -6 14 0 28 -4 31 -9 4 -5 -37 -9 -98 -9 -97 0 -103 1 -99 19 3 10 14 19 24 19 17 0 19 8 19 80 l0 80 -105 0 -105 0 0 -77 c0 -43 5 -85 10 -93 6 -10 10 -11 10 -2 0 6 5 12 12 12 6 0 8 -3 5 -7 -4 -3 1 -12 11 -19 14 -11 5 -13 -63 -13 -44 0 -74 3 -67 6 6 2 12 11 12 18 0 7 9 15 20 18 18 5 20 14 20 81 l0 76 -101 0 c-85 0 -104 -3 -115 -17 -13 -17 -15 -17 -28 0 -19 24 -216 26 -216 1 0 -8 -4 -12 -10 -9 -6 4 -10 -5 -10 -19 0 -14 6 -26 13 -27 9 0 9 -2 0 -6 -15 -6 -18 -83 -3 -83 5 0 9 -5 7 -11 -1 -6 11 -14 28 -16 56 -8 38 -13 -46 -12 -46 1 -76 3 -66 6 9 2 17 11 17 19 0 8 9 14 20 14 18 0 20 7 20 80 l0 80 -115 0 -115 0 0 -90 c0 -49 3 -90 8 -91 4 0 17 -2 29 -3 13 -2 26 -6 30 -9 3 -4 -29 -6 -73 -6 -43 1 -71 3 -61 6 9 2 17 11 17 19 0 8 9 14 20 14 18 0 20 7 20 80 l0 80 -115 0 c-103 0 -115 -2 -115 -17 -1 -17 -1 -17 -14 0 -11 14 -30 17 -120 17 -87 0 -106 -3 -107 -15 0 -8 0 -35 0 -60 0 -100 0 -101 29 -112 25 -10 24 -11 -20 -12 l-48 -1 0 220 0 220 40 0 c29 0 38 -3 34 -14 -3 -7 -13 -13 -22 -12 -16 1 -18 -22 -13 -151 1 -10 57 -13 236 -13 l235 0 0 80 c0 72 -2 80 -19 80 -26 0 -51 10 -51 21 0 5 34 9 75 8 51 -1 75 -5 72 -13 -2 -6 -10 -11 -18 -12 -51 -4 -49 0 -49 -84 l0 -80 115 0 115 0 0 79 0 79 -35 6 c-59 11 -39 23 40 24 59 0 75 -3 75 -14 0 -8 -3 -13 -7 -13 -5 1 -20 1 -35 0 -26 -1 -28 -4 -28 -41 0 -25 5 -40 13 -41 8 0 8 -2 -2 -6 -11 -5 -11 -7 0 -14 10 -6 11 -9 2 -9 -7 0 -13 -11 -13 -25 l0 -25 119 0 119 0 -1 76 c-1 70 -3 77 -24 85 -44 17 -25 30 40 27 60 -3 83 -20 35 -26 -22 -3 -24 -7 -25 -82 l-1 -80 109 0 109 0 0 75 c0 71 -1 76 -25 85 -14 5 -25 14 -25 19 0 15 68 18 100 4 36 -14 37 -18 9 -20 -12 -1 -23 -3 -24 -5 -3 -3 -8 -118 -6 -145 1 -10 29 -13 106 -13 l105 0 0 80 c0 76 -1 80 -22 80 -15 0 -19 3 -12 10 15 15 105 24 151 15 l38 -7 -35 -12 c-31 -10 -35 -16 -38 -48 -2 -22 1 -38 7 -38 6 0 11 -8 11 -17 0 -15 -2 -16 -10 -3 -7 11 -10 8 -10 -16 0 -20 6 -34 16 -38 9 -3 62 -6 119 -6 l104 0 -4 63 c-2 34 -4 70 -4 80 -1 10 -9 17 -21 17 -11 0 -20 7 -20 15 0 8 9 15 19 15 11 0 26 3 34 6 20 7 53 -26 36 -37 -7 -4 -13 -36 -14 -83 l-3 -76 110 0 109 0 -2 82 c-2 76 -1 82 20 90 12 4 29 15 37 23 9 8 21 15 27 14 9 0 9 -2 1 -5z m-1784 -30 c0 -8 -3 -13 -7 -13 -5 1 -18 1 -30 0 -21 -1 -23 -6 -25 -73 l-2 -73 -3 66 c-4 64 -4 66 -38 79 -35 14 -44 25 -25 32 5 2 37 1 70 0 43 -3 60 -8 60 -18z m2855 6 c0 -8 -10 -16 -22 -18 -22 -3 -23 -8 -23 -83 l0 -79 105 0 105 0 0 80 c0 73 -2 80 -20 80 -12 0 -20 7 -20 18 0 13 8 17 33 16 17 -1 44 -2 60 -3 17 -1 27 -7 27 -16 0 -18 -12 -19 -28 -3 -9 9 -12 3 -13 -28 0 -21 -1 -61 -2 -89 l-2 -50 115 0 115 0 -3 70 c-2 38 -6 73 -9 77 -2 5 -15 8 -29 8 -19 0 -25 5 -22 18 2 12 11 16 28 14 40 -5 50 -29 50 -114 l0 -78 115 0 c85 0 115 3 116 13 0 10 2 10 6 0 3 -9 37 -13 119 -13 l114 0 0 76 c0 56 3 75 13 72 6 -3 14 -13 15 -23 3 -11 0 -15 -8 -10 -9 6 -9 3 -1 -13 14 -27 14 -59 -1 -64 -6 -2 -9 -12 -5 -21 5 -15 23 -17 123 -17 l116 0 -6 35 c-6 31 -5 35 14 35 18 0 21 -5 18 -32 l-3 -33 108 -3 107 -3 0 80 c0 75 -1 80 -22 83 -13 2 -23 10 -23 17 0 12 18 15 90 14 112 -2 105 -1 105 -12 0 -11 -56 -32 -64 -24 -3 4 -5 -31 -5 -75 l1 -82 118 0 118 0 -3 63 c-2 34 -4 70 -4 80 -1 9 -9 17 -19 17 -10 0 -27 7 -38 16 -10 8 -14 13 -7 10 6 -4 14 -2 17 3 9 13 42 2 62 -21 14 -14 18 -37 19 -91 l0 -72 108 -3 107 -3 0 102 c0 88 2 100 16 95 9 -3 27 -6 41 -6 24 0 29 -24 5 -26 -7 -1 -16 -2 -22 -3 -6 0 -10 -35 -10 -81 l0 -80 105 0 105 0 0 80 c0 73 -2 80 -19 80 -20 0 -37 17 -28 26 3 3 33 6 66 8 52 1 61 -1 61 -15 0 -11 -9 -19 -22 -21 -22 -3 -23 -8 -24 -81 l-1 -78 113 2 c105 1 114 3 114 20 0 11 -4 19 -10 19 -5 0 -10 12 -10 26 0 16 4 23 11 18 8 -5 8 -1 0 14 -6 11 -11 30 -11 41 0 12 -8 21 -20 23 -34 5 -28 22 10 29 61 13 121 -10 70 -26 -18 -6 -20 -15 -20 -86 l0 -79 113 0 113 0 1 80 2 80 -34 0 c-27 0 -35 4 -35 18 0 15 11 17 77 18 76 1 76 1 54 -18 -13 -10 -29 -18 -37 -18 -11 0 -14 -18 -14 -80 l0 -80 115 0 115 0 0 86 c0 80 -1 85 -19 79 -11 -3 -22 -1 -26 5 -3 6 -11 8 -16 5 -5 -4 -9 -2 -9 4 0 14 40 23 76 19 l29 -3 3 -214 c2 -165 -1 -216 -10 -223 -15 -9 -98 -11 -98 -2 0 13 30 34 49 34 20 0 21 6 21 80 l0 80 -115 0 -115 0 0 -77 c0 -42 -2 -74 -5 -71 -3 3 -6 29 -6 59 -1 93 4 89 -120 89 l-109 0 0 -90 0 -90 28 -6 c51 -11 47 -12 -35 -13 -76 -1 -81 0 -76 18 3 12 15 21 32 23 18 2 27 10 29 26 2 12 -1 22 -7 22 -6 0 -11 12 -11 26 0 14 4 23 9 20 5 -3 9 5 9 19 0 14 -4 22 -9 19 -5 -3 -9 2 -9 10 0 13 -16 16 -99 16 -113 0 -111 2 -111 -100 0 -67 5 -75 50 -88 30 -9 22 -10 -55 -10 -49 0 -84 2 -77 5 6 2 12 11 12 19 0 8 10 14 23 14 21 0 22 3 19 80 l-4 80 -102 0 -103 0 -2 -69 c-3 -99 4 -119 42 -124 18 -2 -5 -5 -51 -5 -80 -2 -82 -1 -70 18 7 11 21 20 31 20 16 0 18 8 15 78 l-3 77 -102 3 -101 3 -5 -28 c-8 -43 -3 -141 8 -152 6 -5 19 -11 30 -14 11 -3 -16 -5 -60 -6 -59 0 -75 2 -62 10 9 6 15 14 12 20 -4 5 3 9 14 9 12 0 21 5 22 10 5 44 6 100 2 123 l-5 27 -100 0 c-118 0 -127 -6 -128 -86 0 -55 26 -98 65 -107 11 -2 -32 -4 -95 -4 -63 -1 -109 1 -102 4 6 3 12 11 12 19 0 8 9 14 20 14 18 0 20 7 20 80 l0 80 -105 0 c-58 0 -104 -3 -104 -7 1 -5 1 -10 0 -13 -6 -16 -3 -119 3 -138 4 -13 17 -27 29 -32 15 -6 -5 -9 -63 -9 -61 0 -79 3 -62 9 12 5 22 13 22 19 0 5 9 11 20 14 17 4 20 13 20 59 0 99 1 98 -106 98 -81 0 -97 -3 -114 -20 -20 -20 -28 -56 -10 -45 6 4 10 -5 10 -19 0 -14 -4 -26 -9 -26 -5 0 -9 -13 -9 -30 1 -16 5 -27 9 -24 4 2 11 -2 16 -10 4 -8 19 -16 33 -19 14 -2 -13 -5 -60 -5 -60 -1 -78 2 -62 8 12 5 22 14 22 20 0 5 7 10 15 10 12 0 15 16 15 80 l0 80 -101 0 c-128 0 -131 -3 -127 -107 l3 -78 35 -6 c23 -4 7 -6 -45 -7 -44 0 -72 2 -62 5 9 2 17 11 17 19 0 8 9 14 20 14 18 0 20 7 20 64 0 99 4 96 -121 96 l-109 0 0 -94 0 -95 38 -4 c20 -2 0 -4 -46 -5 -51 -1 -81 2 -77 8 3 5 12 7 20 3 9 -3 15 1 15 8 0 7 6 20 14 28 8 9 16 39 18 68 6 74 -7 83 -127 83 -69 0 -95 -3 -96 -12 -4 -62 -3 -152 2 -160 4 -6 12 -7 18 -4 6 4 11 3 11 -3 0 -5 10 -12 23 -14 12 -2 -13 -5 -55 -6 -72 -1 -78 1 -78 19 0 13 7 20 19 20 17 0 20 9 23 64 5 101 10 96 -102 96 -80 0 -99 -3 -104 -16 -10 -27 -7 -144 5 -144 5 0 7 -6 3 -12 -6 -10 -4 -10 8 0 14 11 17 10 20 -5 4 -22 -31 -44 -49 -30 -7 5 -13 6 -13 1 0 -5 -5 -2 -10 6 -5 8 -10 107 -10 227 0 193 2 212 18 216 32 9 67 2 67 -13z m885 -18 c-29 -5 -51 15 -30 28 10 6 21 3 33 -8 19 -17 19 -17 -3 -20z m2258 33 c-2 -3 -17 -6 -32 -7 l-27 -2 2 -87 2 -86 113 -1 114 -1 0 90 c0 72 -3 89 -15 89 -8 0 -16 -8 -16 -17 -1 -16 -2 -16 -6 -1 -2 9 -12 19 -21 21 -9 3 9 5 41 6 l57 1 0 -220 c0 -213 -1 -220 -20 -220 -19 0 -20 7 -20 95 l0 95 -115 0 -115 0 0 -77 c0 -43 5 -85 10 -93 5 -8 10 -10 10 -4 0 6 6 11 13 11 19 0 17 -23 -2 -24 -9 -1 -21 -2 -26 -3 -46 -10 -45 -13 -45 220 l0 220 52 0 c28 0 49 -2 46 -5z m302 -52 c0 -10 -4 -14 -8 -8 -4 6 -11 13 -16 18 -5 4 -2 7 7 7 10 0 17 -8 17 -17z m487 11 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m-387 -104 c10 0 21 6 24 13 3 8 8 7 16 -5 7 -12 24 -18 50 -18 l40 0 0 -60 0 -60 -39 0 c-30 0 -40 4 -44 20 -4 17 -14 20 -56 20 -44 0 -51 -3 -51 -20 0 -17 -7 -20 -40 -20 l-40 0 0 54 c0 30 4 57 8 60 5 3 28 6 51 8 27 1 45 8 49 17 4 10 7 11 10 3 2 -7 12 -12 22 -12z m360 5 c0 -14 -12 -19 -32 -16 -5 0 -8 -6 -8 -14 0 -8 5 -15 10 -15 6 0 10 -11 10 -25 0 -42 28 -31 32 13 3 35 5 37 40 40 l36 3 1 -60 0 -61 -35 0 c-24 0 -34 5 -34 15 0 12 -13 15 -60 14 -45 -1 -60 -5 -60 -16 0 -10 -9 -13 -27 -11 -27 3 -28 5 -28 58 l0 55 37 0 c20 0 40 3 44 8 4 4 16 7 26 7 11 0 16 5 13 10 -3 6 3 10 14 10 12 0 21 -7 21 -15z m-7142 -37 c3 -15 -4 -18 -37 -18 -29 0 -41 4 -41 14 0 29 73 32 78 4z m7309 -14 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m-7347 -134 c0 -47 -4 -80 -10 -80 -5 0 -10 19 -10 43 0 45 10 117 16 117 2 0 4 -36 4 -80z m6860 48 c0 -4 -18 -8 -41 -8 -25 0 -38 4 -34 10 7 12 75 10 75 -2z m-6472 -154 c51 -11 47 -12 -33 -12 -44 0 -72 2 -62 5 9 2 17 11 17 19 0 8 9 14 20 14 18 0 20 7 22 63 l2 62 3 -72 c4 -70 5 -73 31 -79z m716 122 c7 -27 -3 -86 -14 -86 -3 0 -8 25 -9 55 -2 56 12 75 23 31z m-1264 -7 c0 -5 -29 -8 -65 -8 -41 1 -65 5 -65 13 0 7 21 10 65 8 36 -2 65 -8 65 -13z m6900 -85 c0 -2 -7 -4 -15 -4 -8 0 -15 4 -15 10 0 5 7 7 15 4 8 -4 15 -8 15 -10z m-183 -26 c-3 -7 -5 -2 -5 12 0 14 2 19 5 13 2 -7 2 -19 0 -25z m-5437 12 c-12 -8 -11 -10 7 -10 12 0 25 -4 28 -10 4 -6 -22 -10 -69 -10 -74 0 -76 0 -58 19 12 13 31 20 62 20 33 1 41 -2 30 -9z m4910 0 c0 -6 10 -15 23 -20 16 -6 1 -9 -55 -9 -72 -1 -78 1 -78 19 0 18 7 20 55 20 31 0 55 -4 55 -10z m-6259 -39 c6 10 9 11 9 2 0 -7 11 -13 24 -13 13 0 27 6 29 13 3 6 6 3 6 -8 1 -17 -6 -20 -44 -21 -40 -1 -45 1 -44 20 0 13 3 16 6 7 5 -11 7 -11 14 0z m349 -51 c0 -13 -7 -20 -20 -20 -23 0 -26 10 -8 28 18 18 28 15 28 -8z m231 8 c0 -10 2 -10 6 0 8 20 45 15 41 -5 -3 -14 -15 -19 -61 -21 -31 -1 -57 0 -57 3 0 27 69 49 71 23z m139 -3 c4 3 10 -2 14 -10 4 -11 -2 -15 -24 -15 -28 0 -29 2 -18 20 7 11 14 16 16 10 2 -6 7 -8 12 -5z m70 0 c0 -8 -4 -15 -10 -15 -5 0 -10 7 -10 15 0 8 5 15 10 15 6 0 10 -7 10 -15z m251 1 c5 3 9 -2 9 -10 0 -18 -45 -22 -55 -6 -3 6 1 10 9 10 9 0 16 6 17 13 0 9 2 9 6 -1 2 -6 9 -10 14 -6z m69 0 c0 -9 -9 -14 -20 -13 -11 1 -20 7 -20 14 0 7 9 13 20 13 11 0 20 -6 20 -14z m40 -6 c0 -13 -6 -20 -17 -19 -11 0 -13 3 -5 6 6 2 12 11 12 19 0 8 2 14 5 14 3 0 5 -9 5 -20z m74 4 c9 -23 8 -24 -14 -24 -11 0 -20 5 -20 10 0 6 5 10 11 10 5 0 7 5 4 10 -3 6 -2 10 3 10 6 0 13 -7 16 -16z m5356 1 c0 -8 -7 -15 -15 -15 -8 0 -15 7 -15 15 0 8 7 15 15 15 8 0 15 -7 15 -15z m47 -17 c-3 -7 -5 -2 -5 12 0 14 2 19 5 13 2 -7 2 -19 0 -25z m160 10 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m73 7 c0 -8 -7 -15 -15 -15 -8 0 -15 7 -15 15 0 8 7 15 15 15 8 0 15 -7 15 -15z m205 0 c0 -5 -10 -11 -22 -13 -16 -2 -23 2 -23 13 0 11 7 15 23 13 12 -2 22 -7 22 -13z m184 -14 c-15 -5 -22 6 -14 19 6 9 10 9 16 -1 5 -8 4 -15 -2 -18z m54 15 c7 -16 -1 -26 -20 -26 -7 0 -13 9 -13 20 0 23 25 27 33 6z m147 4 c-12 -8 -12 -10 -1 -10 8 0 12 -3 8 -6 -9 -9 -28 6 -22 17 4 5 12 9 18 9 7 0 6 -4 -3 -10z m57 -12 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m-7047 -9 c0 -12 -37 -12 -44 0 -3 4 -3 11 0 14 8 7 44 -4 44 -14z m480 0 c0 -5 -7 -9 -15 -9 -15 0 -20 12 -9 23 8 8 24 -1 24 -14z m-90 1 c-8 -5 -24 -9 -35 -9 l-20 0 20 9 c11 5 27 9 35 9 13 1 13 0 0 -9z m470 0 c0 -5 -11 -10 -25 -10 -14 0 -25 5 -25 10 0 6 11 10 25 10 14 0 25 -4 25 -10z m184 -2 c-7 -11 -124 -10 -124 0 0 4 29 8 64 7 35 0 62 -3 60 -7z"/>
                                <path d="M3500 5403 c-185 -66 -270 -243 -210 -437 29 -93 103 -174 211 -232 27 -14 57 -18 139 -19 121 0 153 12 231 86 71 67 94 125 94 234 0 79 -4 97 -29 150 -16 33 -44 77 -63 98 -18 20 -33 40 -33 45 0 4 -10 12 -23 18 -12 6 -46 24 -76 40 -67 35 -170 43 -241 17z"/>
                                <path d="M5533 4870 c-97 -21 -204 -126 -224 -221 -17 -77 -5 -208 23 -256 32 -56 107 -143 124 -143 8 0 14 -4 14 -8 0 -4 24 -20 53 -35 47 -24 66 -27 146 -27 79 0 99 4 142 26 117 59 189 171 189 293 0 79 -10 113 -59 195 -43 72 -83 113 -144 149 -38 22 -61 28 -134 32 -48 2 -107 0 -130 -5z"/>
                                <path d="M4298 4600 c-49 -9 -161 -45 -188 -60 -21 -13 -12 -12 44 5 59 18 276 21 327 4 119 -38 221 -102 311 -193 32 -33 58 -56 58 -51 0 14 -53 100 -67 108 -7 4 -13 14 -13 21 0 15 -42 56 -58 56 -6 0 -15 6 -19 13 -39 63 -271 120 -395 97z"/>
                                <path d="M4122 4433 c-11 -18 -3 -53 22 -102 20 -38 31 -36 16 3 -12 33 -13 76 -1 76 5 0 24 -17 43 -37 19 -21 45 -47 58 -58 l24 -20 -19 30 c-10 17 -24 40 -31 53 -13 26 -71 72 -90 72 -7 0 -17 -7 -22 -17z"/>
                                <path d="M4658 4253 c12 -2 32 -2 45 0 12 2 2 4 -23 4 -25 0 -35 -2 -22 -4z"/>
                                <path d="M4745 4238 c44 -25 40 -53 -9 -62 -18 -4 -41 -13 -52 -21 -17 -12 -16 -13 18 -6 63 15 98 34 98 56 0 28 -19 45 -49 45 -25 -1 -25 -1 -6 -12z"/>
                                <path d="M4326 3959 c-23 -47 -19 -61 5 -16 11 22 18 41 16 44 -3 2 -12 -10 -21 -28z"/>
                                <path d="M3956 3953 c15 -67 85 -192 134 -240 l51 -50 -12 -44 c-19 -72 -5 -136 42 -182 38 -38 41 -39 98 -35 66 5 120 37 146 88 21 40 19 62 -9 103 l-25 36 53 11 c112 23 235 105 220 145 -8 19 -18 19 -35 -1 -18 -22 -91 -58 -184 -89 -133 -45 -243 -25 -326 57 -31 32 -109 183 -109 213 0 9 -10 15 -25 15 -23 0 -25 -3 -19 -27z"/>
                                <path d="M4295 3860 c-4 -17 -5 -34 -2 -36 3 -3 8 9 12 26 4 17 5 34 2 36 -3 3 -8 -9 -12 -26z"/>
                                <path d="M2830 830 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0 -10 -4 -10 -10z"/>
                                <path d="M2833 750 c-1 -11 2 -18 8 -15 11 7 12 35 1 35 -4 0 -8 -9 -9 -20z"/>
                                <path d="M7990 795 c0 -12 13 -15 55 -15 42 0 55 3 55 15 0 12 -13 15 -55 15 -42 0 -55 -3 -55 -15z"/>
                                <path d="M8317 763 c-12 -11 -8 -21 13 -26 15 -4 20 0 20 14 0 18 -20 26 -33 12z"/>
                            </g>
                        </svg>
                    </a>
                </div>

                <div class="col-4">
                    <form class="d-flex" action="{{ path('search') }}" method="get">
                        <input class="form-control me-2" type="search" name="q" placeholder="{{ 'search_bar.form.input.placeholder'|trans }}" aria-label="Search" value="{{ search|default('') }}">
                        <button class="btn btn-outline-secondary me-2" type="submit">{{ 'search_bar.form.submit'|trans }}</button>
                        <a href="#" class="btn btn-outline-secondary">
                            {{ 'type_langage'|trans }}
                        </a>
                    </form>
                </div>
                
                <div class="col-3" style="text-align: right;margin-bottom: -2%;">
                    {% if not is_granted('ROLE_USER') %}
                        <a class="btn btn-sm btn-outline-warning" href="{{ path('app_register') }}">
                            {{ 'register'|trans }}
                        </a>
                        <a class="btn btn-sm btn-outline-primary" href="{{ path('app_login') }}">
                            {{ 'login'|trans }}
                        </a>
                        {% else %}
                            <div>
                                <span>{{ app.user.username }}</span>
                                <a href="{{ path('app_logout') }}" class="btn btn-sm btn-outline-danger">Logout</a>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2 text-center">
                <ul class="nav flex-column" id="sousMenu">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('home') }}">{{ 'home'|trans }}</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('about') }}">{{ 'about'|trans }}</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('legals') }}">{{ 'legal'|trans }}</a>
                    </li>
                </ul>
                <ul class="nav flex-column" id="sousMenu">
                    {% if is_granted('ROLE_ADMIN_ARTIST') %}
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('artist_index') }}" >Admin-Artists</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN_TYPE') %}
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('type_index') }}" >Admin-Types</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN_ALBUM') %}
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('track_index') }}" >Admin-Tracks</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN_ALBUM') %}
                    <li><hr class="dropdown-divider"></li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('album_index') }}" >Admin-Albums</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col">
                <main>
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
    <nav id="bottom-player" class="navbar navbar-expand-lg navbar-light fixed-bottom rounded" style="background-color: #072F35">
            <div class="container-fluid btn-group col-1 row justify-content-start">
            <button type="button" class="btn btn-secondary" data-player-backward>
                <svg color="white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </button>

            <button type="button" class="btn btn-primary" data-player-play>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                </svg>
            </button>

            <button type="button" class="btn btn-primary" data-player-pause hidden>
                <svg color="white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-secondary" data-player-forward>
                <svg color="white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-secondary">
                <svg color="white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-stop" viewBox="0 0 16 16">
                    <path d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5H5z"/>
                </svg>
            </button>
        </div>
    </nav>
    </body>
</html>
