{% extends 'base.html.twig' %}

{% block title %}Edit Artist{% endblock %}

{% block body %}
    <h1>Edit Artist</h1>

    {{ include('Admin/artist/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    <a type="button" class="btn btn-secondary" href="{{ path('artist_index') }}">back to list</a>
    <br>
    <br>
    {{ include('Admin/artist/_delete_form.html.twig') }}
{% endblock %}
