{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>

    <table class="table table-light">
        <thead>
            <tr class="table-info">
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Photo</th>
                <th>WikiId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in artists %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td class="table-light">{{ artist.id }}</td>
                <td class="table-light">{{ artist.name }}</td>
                <td class="table-light">{{ artist.description }}</td>
                <td class="table-light">{{ artist.photo }}</td>
                <td class="table-light">{{ artist.wikiId }}</td>
                <td class="table-light">
                    <a href="{{ path('artist_show', {'id': artist.id}) }}" class="btn btn-secondary">show</a>
                    <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation pagination">
        {{ knp_pagination_render(artists) }}
    </div>

    <a href="{{ path('artist_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
