{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <h1>Create new Artist</h1>

    {{ include('Admin/artist/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" href="{{ path('artist_index') }}">back to list</a>
{% endblock %}
