{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <h1>Artist</h1>

    <table class="table table-light">
        <tbody>
            <tr class="table-light">
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr class="table-light">
                <th>Name</th>
                <td>{{ artist.name }}</td>
            </tr>
            <tr class="table-light">
                <th>Description</th>
                <td>{{ artist.description }}</td>
            </tr>
            <tr class="table-light">
                <th>Photo</th>
                <td>{{ artist.photo }}</td>
            </tr>
            <tr class="table-light">
                <th>WikiId</th>
                <td>{{ artist.wikiId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artist_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn btn-primary">edit</a>

    <br>
    <br>

    {{ include('Admin/artist/_delete_form.html.twig') }}
{% endblock %}
